URxvt.cursorBlink:	true
!! urxvt opener
URxvt.url-launcher: xdg-open

URxvt.font:	xft:Dejavu Sans Mono-14,xft:IPAGothic
URxvt.foreground:	white
URxvt.background:	black
URxvt.letterSpace:	-1
!URxvt.linkeSpace:	0

!!
!! urxvt extensions
!!

!! extensions
URxvt.perl-ext-common: matcher,keyboard-select

!! matcher
URxvt.matcher.button: 1
URxvt.keysym.M-u: matcher:select
URxvt.keysym.M-U: matcher:list
URxvt.keysym.M-o: matcher:last

!! keyboard-select (https://github.com/muennich/urxvt-perls)
URxvt.keyboard-select.clipboard: true
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
